<section class="dashboard">
  <div class="container">
    <div class="content">
      <h1 class="has-text-link"><%= @account.name %></h1>
      <p>Status: <button class="button is-danger is-small" title="Disabled button" disabled>Waiting Approval</button></p>
    </div>
    <div class="box">
      <div class="box-header"><h1 class="is-pulled-left">Articles</h1> <%= link_to 'Create A New Article', new_article_path, class: "is-pulled-right" %></div>
      <div class="table-container">
        <table class="table is-fullwidth">
        <thead>
            <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% @articles.each do |article| %>
            <tr>
                <td><%= link_to article.title, article %></td>
                <td><%= article.content %></td>
                <td><%= article.author %></td>
                <td><%= link_to 'Edit', edit_article_path(article) %></td>
                <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
      </div>
    </div>
    <div class="box">
      <div class="box-header"><h1 class="is-pulled-left">Events</h1><%= link_to 'Create A New Event', new_article_path, class: "is-pulled-right" %></div>
      <div class="table-container">
        <table class="table is-fullwidth">
        <thead>
            <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% @articles.each do |article| %>
            <tr>
                <td><%= link_to article.title, article %></td>
                <td><%= article.content %></td>
                <td><%= article.author %></td>
                <td><%= link_to 'Edit', edit_article_path(article) %></td>
                <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</section>